*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wan{
    height: 50px;
    width: 100%;
    background-color: blue;
    position: fixed;
    z-index: 5px;
}
.top{
    padding-top: 45px;
}
.top p{
    border-style: solid;
    border-color: blue;
    border-width: 1px;
}
#one{
    margin: 15px;
}
#two{
    margin: 15px;
    padding:20px 20px 20px 0px;
}
#three{
    margin-right: 5px;
    padding-left: 25px;
    padding-right: 20px;
}
#four{
    margin: 15px 300px 50px 300px;
}

#middle{
    display: block;
}

#middle2{
    margin-top: 50px;
    display: block;
}

#middle3{
    
}

#furst{
    height: 150px;
    width: 500px;
    background-color: black;
    float: left;
    display:inline-block;
    margin-left: 100px;
}

#secund{
    float: right;
    height: 150px;
    width: 500px;
    margin-right: 100px;
    background-color: black;
    display:inline-block;
}

#thurd{
    height: 150px;
    width: 500px;
    background-color: black;
    display: block;
    align-items: center;
    margin: 250px auto 0 auto;
}