*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wan{
    height: 50px;
    width: 100%;
    background-color: blue;
    position: fixed;
    z-index: 5px;
}
.top{
    padding-top: 45px;
}
.top p{
    border-style: solid;
    border-color: blue;
    border-width: 1px;
}
#one{
    margin: 15px;
}
#two{
    margin: 15px;
    padding:20px 20px 20px 0px;
}
#three{
    margin-right: 5px;
    padding-left: 25px;
    padding-right: 20px;
}
#four{
    margin: 15px 300px 50px 300px;
}

#middle{
    display: block;
}

#middle2{
    margin-top: 50px;
    display: block;
}

#middle3{
    
}

#furst{
    height: 150px;
    width: 700px;
    background-color: black;
    float: left;
    display:inline-block;
    margin-left: 100px;
}

#secund{
    float: right;
    height: 150px;
    width: 700px;
    margin-right: 100px;
    background-color: black;
    display:inline-block;
}

#thurd{
    height: 150px;
    width: 1520px;
    background-color: black;
    display: block;
    align-items: center;
    margin: 250px auto 70px auto;
}

#link{
    display: block;
    height: 20px;
    width: 900px;
    margin: auto auto;
    border: 1px red solid;
    text-align: center;
    color: blue;
}
#p1{
    display: inline-block;
    text-align: center;
    border: 1px red solid;
    margin-left: 0px;

}

#p2{
    display: inline-block;
    text-align: center;
    border: 1px red solid;

}

#p3{
    display: block;
    border: 1px red solid;
    margin: 20px 100px 50px 0px;
}

#lsthead{
    margin-top: 50px;
}

.relative{
    height: 400px;
    width: 400px;
    background-color: #333;
    position: relative;
    margin-top: none;
    margin-left: 150px;
}
.absolute{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #ccc;
    margin-top: 150px;
    margin-left: 150px;
}
.fixed{
    height: 50px;
    width: 100%;
    background-color: blue;
    color: white;
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
}