*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 40%;
    height: 25vh;
    background-color: #333;
    margin: 5%;
}

.div-1{
    float: left;
}

.div-2{
    float: right;
}

.clr{
    float: left;
    float: right;
}

@media (max-width: 500px){
    .div-1, .div-2{
        float: none;
    }
}

.rem, .em{
    font-size: 20px;
}

#em{
    font-size: 1.2em;
}

#rem{
    font-size: 1.2rem;
}

:root{
    font-size: 20px;
}

.border-red{
    border: 1px red solid;
}

.border-blue{
    border: 1px blue solid;
}

.vh-100{
    height: 100vh;
}

.h-50{
    height: 50%;
}

div > p{
    color: blue;
}

div + section{
    color: green;
}

input[type='email']{
    border-color: red;
}